<div class="boxy span6 offset3 text-center">
	<h1 class="custom-h1">My web Development journey</h1>
	<br/>
	<br/>


	<h2>Turning ideas into reality</h2>
	<br/>


	<%= link_to 'Launch my App', pics_path, :class => 'btn btn-warning btn-large' %>
	
</div>

