
<% @pics.each do |pic| %>

<div class="boxy span3">
	<h1 class="custom-h1">	
		Lesson: <%= pic.lesson %>
	</h1>

	<%= image_tag pic.image %>
	<br />

	<h2>
		Emotion: <%= pic.emotion %>
	</h2>
	<h2>
		Learned: <%= pic.learned %>
	</h2>
</div>

<% end %>